@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,300&display=swap');

/* Variable*/
:root{
    --primary:#e52165;
    --primary-light:#f46e9d;
    --secondary:#0d1137;
    --secondary-light:#2233cd;
    --white:white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    position: relative;
}



/*button */
.btn{
    background-color: var(--primary);
    display: inline-block;
    color: var(--white);
    padding: 10px 18px;
    transition: 300ms;
    border: 2px solid var(--white);
    border-radius: 10px;
}

.btn:hover{
    transform: translateY(-10px);
}

.bx-menu{
    color: var(--white);

}
li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

img{
    width: 100%;
    height: 100%;
}

header{
    min-height: 100vh;
    border: 1px solid black;
    background-image: linear-gradient(rgba(47, 46, 46, 0.534),rgba(0,0,0,0)),url(image/pexels-pixabay-207684.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.hearder-content{
    
    padding: 0 2rem ;
    
    margin: auto;
    height: 12vh;
}

.logo{
    height: 50px;
    
}

.nav-links{
    
    width: 40%;
}

.nav-links a{
    color: var(--white);
}

.nav-links li::after{
    content: '';
    display: block;
    background-color: var(--primary);
    /* width: 0%; */
    height: 2px;
    transform: scaleX(0);
    transition: transform 300ms;
}

.nav-links li:hover::after{
    transform: scaleX(1);
}

.burger{
    display: none;
    cursor: pointer;
}

@media only screen and (max-width:600px){
    .nav-links{
        /* display: none; */
        position: absolute;
        flex-direction: column;
        background-color: var(--primary-light);
        right: -10rem;
        top: 12vh;
        height: 50vh;
        width: 0%;
        padding: 1rem 0;
        transition: 300sm;
    }
    .logo{
        visibility: hidden;
        
    }
    .burger{
        display: block;
    }

    .hearder-content{
        background-color: var(--primary-light);
    }
}



@media only screen and (max-width:860px){
    .wwa-box{
        margin-top: 10px;
        margin-left: 0px;
    }
    .wwa-content{
        flex-direction: column;
    }

}

.show-nav{
     width: 100%;
     right: 0px;
}

.text-center{
    color: var(--white);
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-center h1{
    margin: 20px 0;
    font-weight: 600;
    font-size: 3rem;
}

.text-center p{
    font-size: 1.3rem;
    font-weight: 900;
}

.flex-design{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content{
    max-width: 1020px;
    margin-left: auto;
    margin-right: auto;

}

.mb{
    margin-bottom: 5rem;
}

.mt{
    margin-top: 5rem;
}

.wwa-heading{
    text-align: center;
}

.wwa-box{
    background-color: var(--primary);
    padding: 20px;
    margin-left: 10px;
    text-align: center;
    
}

.wwa{
    position: relative;
}

.wwa-box:first-child{
    margin-left: 0px;
}


.wwa-box:hover{
    box-shadow: 5px 7px 14px 1px black;
}

.heading{
    text-align: center;
    position: relative;
}

.courses-img{
    position: relative;
}
.course-img img {
    display: block;
}
.course-img::after{
    content: '';
    color:white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    transform-origin:right;
    background-color: rgba(18, 18, 18, 0.458);
    transition: transform 300ms;
}

.course:hover .course-img::after{
    transform: scale(1);
    transform-origin:left ;

}

.course{
    position: relative;
}

.course_content{
    position: absolute;
    top: 150%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 2rem;
    color: var(--white);

}
.course:hover .course_content{
    top: 50%;
}

.course-content{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    grid-column-gap: 10px;
    gap: 10px;
}

.fac-text p{
    background-color: var(--primary);
    margin: 1rem 0 ;
    text-align: justify;
    padding: 10px; 
}

.fac-content{
   display: flex;
   flex-direction: column;
}

.fac h3{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.fac-text p:hover{
    box-shadow: 0px 10px 10px 0px;
}

.fac-1{
    position: relative;
}

.fot-img{
    width: 200px;
}

footer{
    padding: 10px;
    background-color: var(--secondary);
    color: var(--white);
}

.fot-menu ul{
    gap: 10px;
}
















